In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
962,tt0259288,60000000,52322400,Dragonfly,Kevin Costner|Joe Morton|Ron Rifkin|Susanna Th...,Tom Shadyac,When someone you love dies... are they gone fo...,A grieving doctor is being contacted by his la...,104,Drama,Universal Pictures|Spyglass Entertainment|Shad...,2/22/2002,6.2,2002
1354,tt0400497,50000000,66002004,Herbie Fully Loaded,Lindsay Lohan|Michael Keaton|Matt Dillon|Breck...,Angela Robinson,Start your engines...,"Maggie Peyton, the new owner of Number 53 - th...",101,Comedy|Family|Adventure|Fantasy|Romance,Walt Disney Pictures|Robert Simonds Productions,6/18/2005,5.2,2005
1436,tt0381061,150000000,599045960,Casino Royale,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,Martin Campbell,Everyone has a past. Every legend has a beginn...,"Le Chiffre, a banker to the world's terrorists...",144,Adventure|Action|Thriller,Eon Productions,11/14/2006,7.1,2006
20,tt1964418,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,6.2,2015
1084,tt0266697,30000000,180949000,Kill Bill: Vol. 1,Uma Thurman|Lucy Liu|Vivica A. Fox|Daryl Hanna...,Quentin Tarantino,Go for the kill.,An assassin is shot at the altar by her ruthle...,111,Action|Crime,Miramax Films|A Band Apart|Super Cool ManChu,10/10/2003,7.6,2003

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

sorted_data = data.sort_values(['budget'], ascending = False)
display(sorted_data.original_title.head(1))

answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [7]:
# тут пишем ваш код для решения данного вопроса: +
answers['1'] = data[data.budget == data.budget.max()].original_title.values[0]
display(answers['1'])

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения
answers['1'] = data.sort_values(['budget'], ascending = False).original_title.values[0]
display(answers['1'])

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [16]:
answers['2'] = data[data.runtime == data.runtime.max()].original_title.values[0]
display(answers['2'])

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = data[data.runtime == data.runtime.min()].original_title.values[0]
display(answers['3'])

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [32]:
answers['4'] = data.runtime.mean()
display(answers['4'])

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [37]:
answers['5'] = data.runtime.median()
display(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [41]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data["profit"] = data.revenue - data.budget
answers['6'] = data[data.profit == data.profit.max()].original_title.values[0]
display(answers['6'])

'Avatar'

# 7. Какой фильм самый убыточный?

In [43]:
data["profit"] = data.revenue - data.budget
answers['7'] = data[data.profit == data.profit.min()].original_title.values[0]
display(answers['7'])

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [48]:
data["profit"] = data.revenue - data.budget
answers['8'] = len(data[data.profit > 0])
display(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [51]:
answers['9'] = data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.values[0]
display(answers['9'])

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [54]:
answers['10'] = data[(2012 <= data.release_year) & (data.release_year <= 2014)].sort_values(['profit']).original_title.values[0]
display(answers['10'])

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [65]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
ganres_count = []
actions = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']
for genres in actions:
    ganres_count.append(len(data[data.genres.str.contains(genres)]))
index = ganres_count.index(max(*ganres_count))
answers['11'] = actions[index]
display(answers['11'])

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [67]:
temp = data[data.profit > 0]
ganres_count = []
actions = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']
for genres in actions:
    ganres_count.append(len(temp[temp.genres.str.contains(genres)]))
index = ganres_count.index(max(*ganres_count))
answers['12'] = actions[index]
display(answers['12'])

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [71]:
answers['13'] = data.groupby('director').sum().sort_values(['revenue'], ascending = False).index[0]
display(answers['13'])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [81]:
data[data.genres.str.contains("Action")].groupby('director').count().sort_values(['genres'])
temp = data[data.director == 'Ridley Scott']
display(len(temp[temp.genres.str.contains('Action')]))
temp = data[data.director == 'Guy Ritchie']
display(len(temp[temp.genres.str.contains('Action')]))
temp = data[data.director == 'Robert Rodriguez']
display(len(temp[temp.genres.str.contains('Action')]))
temp = data[data.director == 'Quentin Tarantino']
display(len(temp[temp.genres.str.contains('Action')]))
temp = data[data.director == 'Tony Scott']
display(len(temp[temp.genres.str.contains('Action')]))
answers['14'] = "Ridley Scott"
data[data.genres.str.contains("Action")].groupby('director').count().sort_values(['imdb_id'], ascending = False).index

6

4

6

3

5

Index(['Paul W.S. Anderson', 'Michael Bay', 'Ridley Scott', 'Antoine Fuqua',
       'Robert Rodriguez', 'Zack Snyder', 'Andrzej Bartkowiak',
       'Paul Greengrass', 'Peter Berg', 'Tony Scott',
       ...
       'Jay Roach', 'Jay Russell', 'Jeff Tremaine', 'Jeff Wadlow',
       'Jim Gillespie', 'Jimmy Hayward', 'Joe Cornish',
       'Joe Russo|Anthony Russo', 'Joe Wright', 'Jorma Taccone'],
      dtype='object', name='director', length=345)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [95]:
answers['15'] = "Chris Hemsworth"
data[data.release_year == 2012].sort_values(['revenue'], ascending = False).cast.head(1).values

array(['Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'],
      dtype=object)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [94]:
temp = data[data.budget > data.budget.mean()]
for actor in ["Tom Cruise", "Mark Wahlberg", "Matt Damon", "Angelina Jolie", "Adam Sandler"]:
    display(len(temp[temp.cast.str.contains(actor)]))

actors = []
    
for actor in temp.cast:
    actor_arr = actor.split("|")
    actors += actor_arr
    
actors

winner = [0, "empty"]

for actor in set(actors):
    if winner[0] < actors.count(actor):
        winner[0] = actors.count(actor)
        winner[1] = actor
answers[16] = winner[1]
display(answers[16])

15

14

18

16

17

'Matt Damon'


# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [102]:
temp = data[data.cast.str.contains('Nicolas Cage')]

winner_genre = [0, "empty"]

for actor in ["Drama", "Action", "Thriller", "Adventure", "Crime"]:
    if winner_genre[0] < len(temp[temp.genres.str.contains(actor)]):
        winner_genre[0] = len(temp[temp.genres.str.contains(actor)])
        winner_genre[1] = actor

answers['17'] = winner_genre[1]
display(answers['17'])

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [104]:
answers['18'] = data[data.production_companies.str.contains('Paramount Pictures')].sort_values(['profit']).original_title.values[0]
display(answers['18'])

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [109]:
answers['19'] = data.groupby('release_year').sum().sort_values(['revenue'], ascending = False).index[0]
display(answers['19'])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [115]:
answers['20'] = data[data.production_companies.str.contains("Warner Bros")].groupby('release_year').sum().sort_values(['profit'], ascending = False).index[0]
display(answers['20'])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [128]:
data["release_months"] = data.release_date.apply(lambda x: x.split("/")[0])
answers['21'] = data.groupby('release_months').count().imdb_id.sort_values(ascending = False).index[0]
display(answers['21'])

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [136]:
data["release_months"] = data.release_date.apply(lambda x: x.split("/")[0])
answers['22'] = data.groupby('release_months').imdb_id.count()[['6','7','8']].sum()
display(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [145]:
temp = data.query('release_months in ["12", "1", "2"]')
answers['23'] = temp.groupby("director").count().sort_values(['release_year'], ascending = False).index[0]
display(answers['23'])

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [147]:
data['title_length'] = data.original_title.apply(lambda title: len(title))
answers['24'] = 'Four By Two Productions'
data.sort_values(['title_length'], ascending = False).production_companies.values

array(['Twentieth Century Fox Film Corporation|Four By Two Productions',
       'Walt Disney|Walden Media',
       'Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The',
       ...,
       "Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions",
       'Warner Bros.',
       'Focus Films|Starz Animation|Relativity Media|Tim Burton Productions|Arc Productions'],
      dtype=object)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [149]:
data['overview_length'] = data.overview.apply(lambda overview: len(overview))
answers['25'] = 'Midnight Picture Show'
data.sort_values(['overview_length'], ascending = False).production_companies.values

array(['Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show',
       'Fox Searchlight Pictures|Room 9 Entertainment', 'New Line Cinema',
       ...,
       'Cheyenne Enterprises|Epsilon Motion Pictures|Empire Pictures|Metro-Goldwyn-Mayer (MGM)|Hyde Park Entertainment',
       'Motion Picture Corporation of America|Artisan Entertainment',
       'Paramount Pictures|Plan B Entertainment|Regency Enterprises'],
      dtype=object)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [167]:
temp = data[['original_title', 'vote_average']].sort_values('vote_average', ascending = False).head(int(len(data) * 0.01))
display(temp)
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave';
display(answers['26'])

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [155]:
display(len(data[data.cast.str.contains('Jonny Depp') & data.cast.str.contains('Helena Bonham Carter')]))
display(len(data[data.cast.str.contains('Ben Stiller') & data.cast.str.contains('Owen Wilson')]))
display(len(data[data.cast.str.contains('Vin Diesel') & data.cast.str.contains('Paul Walker')]))
display(len(data[data.cast.str.contains('Adam Sendler') & data.cast.str.contains('Kevin James')]))
display(len(data[data.cast.str.contains('Daniel Redcliffe') & data.cast.str.contains('Rupert Grint')]))
answers['27'] = 'Ben Stiller & Owen Wilson'

0

6

5

0

0

# Submission

In [154]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Ridley Scott',
 16: 'Matt Damon',
 '15': 'Chris Hemsworth',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

In [156]:
# и убедиться что ни чего не пропустил)
len(answers)

26

In [ ]:
# Последние 2 задание хотелось бы узнать оптимальное решение